.filtersContainer {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.filterInput input {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  transition: border 0.3s;
  width: 100%;
}

.filterInput input:focus {
  border-color: var(--primary-color);
}

.filterInput input[type='number']::-webkit-inner-spin-button,
.filterInput input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filterInput input[type='number'] {
  -moz-appearance: textfield;
}

.errorText {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

@media (max-width: 720px) {
  .filtersContainer {
    flex-direction: column;
    gap: 0;
  }

  .filterInput {
    padding: 16px;
    width: 100%;
  }
}
