.headerContainer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 23px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tradeMark {
  font-size: clamp(20px, 2.5vw, 40px);
  font-weight: 600;
  text-decoration: none;
  color: #000;
}

.tradeMarkSpan {
  color: var(--primary-color);
}

.navbarWrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: clamp(14px, 2.5vw, 20px);
}

.navbarWrapper div {
  cursor: pointer;
}

.currencySelect {
  display: flex;
  align-items: center;
  gap: 3px;
}

.headerRightSide {
  display: flex;
  align-items: center;
  gap: 35px;
}

.currencySelect span {
  font-size: 20px;
}

.active {
  color: var(--primary-color);
}

@media (max-width: 1400px) {
  .headerContainer {
    padding: 20px 13px;
  }
}

@media (max-width: 860px) {
  .headerRightSide {
    display: none;
  }

  .navbarWrapper {
    gap: 20px;
  }
}
