.formContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.inputRow {
  display: flex;
  flex: 1;
  gap: 15px;
  justify-content: space-between;
}

.formTitle {
  font-size: 25px;
}

.formDescription {
  margin: 13px 0;
  font-size: 18px;
  color: #aaa;
}

.formCta {
  text-decoration: none;
  font-size: 20px;
  background-color: #903df7;
  padding: 20px 40px;
  border-radius: 10px;
  color: #fff;
  font-weight: normal;
  width: 100%;
  cursor: pointer;
}

.formCta:hover {
  opacity: 0.9;
}

.repeatedEmailBanner {
  width: 100%;
  border: 2px solid #c62729;
  border-radius: 10px;
  background-color: #f9ebeb;
  padding: 20px 30px;
  color: #c62729;
  position: relative;
}

.closeButton {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

@media (max-width: 650px) {
  .inputRow {
    flex-direction: column;
    gap: 30px;
  }
}
