.flexRow {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin: 0 auto;
}

.step {
  height: 10px;
  border-radius: 9999px;
  width: 35px;
  background-color: #ddd;
}

.activeStep {
  background-color: #903DF7;
  border: none;
}
