/* SelectComponent.module.css */
.selectContainer {
  position: relative;
  display: inline-block;
  align-self: flex-end;
  margin-bottom: 50px;
}

.selectBox {
  padding: 20px 60px 20px 20px;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

.chevronIcon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.selectBox option {
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

/* La última opción no debería tener un borde en la parte inferior */
.selectBox option:last-child {
  border-bottom: none;
}

/* Estiliza la opción que se encuentra seleccionada y/o se pasa por encima */
.selectBox option:checked,
.selectBox option:hover {
  background-color: #f5f5f5;
}
